<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="file1">D:\Maven\modyl2\src\main\resources\configs\old_file1.json</entry>
    <entry key="file2">D:\Maven\modyl2\src\main\resources\configs\old_file2.json</entry>
    <entry key="path">D:\Maven\modyl2\src\main\resources\configs</entry>
    <entry key="suffix">new</entry>
</properties>